# my notes
scratchpad.txt
TODO.txt

# dev
.vscode/
basic-harness/
local_test/
*.log
jq.sh
_harness-no-tmux.sh
signing_sequence.txt
Zero-to-Monero-1-0-0.pdf
wallet_*
daemon_*
get_*

# work
work-sheets.csv
prop.lnk.txt
